<br />
ViewBag = @ViewBag.Mesaj
<br />
ViewData = @ViewData["Mesaj"]
<br />
TempData = @TempData["Mesaj"]
<br />
<br />

<a class="btn btn-success" asp-controller="Home" asp-action="index2">
    index2 'ye git'</a>