<html lang="en">
<head>
    <partial name="_head" ; />
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_footer" ; />
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
